<script type="template/klevu" id="klevuLandingTemplateSortBy">
    <div class="kuDropdown kuDropSortBy">
        <div class="kuDropdownLabel"><%=helper.translate("Sort by : ")%> <%=helper.translate(helper.getSortBy(dataLocal))%></div>
        <div class="kuDropdownOptions">
            <div class="kuDropOption kuSort" data-value="RELEVANCE"><%=helper.translate("Relevance")%></div>
            <div class="kuDropOption kuSort" data-value="PRICE_ASC"><%=helper.translate("Price: Low to high")%></div>
            <div class="kuDropOption kuSort" data-value="PRICE_DESC"><%=helper.translate("Price: High to low")%></div>

            <div class="kuDropOption kuSort" data-value="NAME_ASC"><%=helper.translate("Name: A-Z")%></div>
            <div class="kuDropOption kuSort" data-value="NAME_DESC"><%=helper.translate("Name: Z-A")%></div>
            <div class="kuDropOption kuSort" data-value="RATING_ASC"><%=helper.translate("Rating: Ascending")%></div>

            <div class="kuDropOption kuSort" data-value="RATING_DESC"><%=helper.translate("Rating: Descending")%></div>
            <div class="kuDropOption kuSort" data-value="NEW_ARRIVAL_ASC"><%=helper.translate("Newness: Old to New")%></div>
            <div class="kuDropOption kuSort" data-value="NEW_ARRIVAL_DESC"><%=helper.translate("Newness: New to Old")%></div>
        </div>
    </div>
</script>
