<script type="template/klevu" id="klevuQuickTemplateBase">
    <div class="klevu-fluid">
        <div id="klevuSearchingArea" class="klevuQuickSearchingArea">
        <%=helper.render('klevuQuickPromotionBanner',scope) %>
            <%=helper.render('kuTemplatePopularSearches',scope) %>
            <%=helper.render('klevuRecentViewedProducts',scope) %>
            <div class="klevuSuggestionsBlock">
                <%=helper.render('klevuQuickAutoSuggestions',scope) %>
                <%=helper.render('klevuQuickPageSuggestions',scope) %>
                <%=helper.render('klevuQuickCategorySuggestions',scope) %>
            </div>
            <%=helper.render('klevuQuickProducts',scope) %>
            <%=helper.render('klevuTrendingProducts',scope) %>
        </div>
      </div>
</script>
